# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Xcode
DerivedData/
.derivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
dist/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Local databases
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Dependency managers
Carthage/Build/
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
